@model IEnumerable<Telekomunikacije.ViewModels.UserRoleViewModel>
@{
    ViewBag.Title = "MembersInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MembersInfo</h2>

<table class="table table-hover table-bordered table-condensed" id="example1">
    <thead>
        <tr>
            <td><b>Ime Korisnika</b></td>
         
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Administratori
            </th>
        </tr>
        @foreach (var user in Model.Where(x => x.Roles.Contains("CanDoEverything")))
        {
            <tr>
                <td>
                    @Html.ActionLink(user.UserName, "MembersInfo", "Members", new { id = user.Id }, null)
                </td>
            </tr>
        }
        <tr>
            <th>
                Profesori
            </th>
        </tr>
        @foreach (var user in Model.Where(x => x.Roles.Contains("CanTeach")))
        {
            <tr>
                <td>
                    @Html.ActionLink(user.UserName, "MembersInfo", "Members", new { id = user.Id }, null)
                </td>
            </tr>
        }
        <tr>
            <th>
                Studenti
            </th>
        </tr>
        @foreach (var user in Model.Where(x => x.Roles.Contains("CanLearn")))
        {
            <tr>
                <td>
                    @Html.ActionLink(user.UserName, "MembersInfo", "Members", new { id = user.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>