<!--model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>-->
@model Telekomunikacije.ViewModels.UserRoleViewModel
@{
    ViewBag.Title = "Pomocni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Username</h2>
<h2>@Model.Roles</h2>

