@model Telekomunikacije.Models.Course
@{
    ViewBag.Title = "Telekomunikacije";
}
<h2>@ViewBag.Title.</h2>

<p1>
    Савремени свет не може се замислити без модерних телекомуникација.
    Усавршавање постојећих и развој нових телекомуникационих технологија
    и сервиса одвијају се запањујућом брзином, што заједно са развојем 
    рачунарских и информатичких наука обезбеђује високи ниво комуникационо-информационих
    технологија које ће несумњиво обележити век пред нама. Телекомуникације су 
    важна привредна грана са огромним утицајем на економски живот у свакој земљи.
    Еволуција телекомуникационих технологија, потребе за новим профилима инжењера
    телекомуникација, као и нови приступ високошколском образовању који задовољава
    високе европске стандарде, резултирали су у променама наставних планова и програма
    тако да су, у складу са светским трендовима, у оквиру модула „Телекомуникације“ оформљени следећи подмодули:
    <ul class="form-group">
        <li>Телекомуникације и обрада сигнала</li>
        <li> Радиокомуникациони инжењеринг и технологије </li> 
    </ul>
</p1>
